.titulo {
    display: flex;
    border-bottom: 4px #c30035 solid;
    width: 2000px;
    margin: 0;
    align-self: center;
    height: 75px;
}

body {
    margin: 0;
    color: white;
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgn7eT5jMfi3TuEWBEsiIvi9YfAz2D52Egng&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.esquerda {
    display: flex;
    align-items: center;
}

.direita {
    text-align: end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    border: 0;
    border-bottom: 5px solid;
    border-color: #c30035;
}

.pokebolaGif {
    width: 7%;
    height: 7%;
}

.perfilImage {
    width: 4.5%;
    height: 4.5%;    
}

.texto1 {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    height: 500px;
    width: 440px;
}